<form method="POST">
    {% csrf_token %}

    <h2>Datos de la persona:</h2>

    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" required>

    
    <label for="apellidos">Apellidos: </label>
    <input type="text" name="apellidos" required>

    
    <label for="tipo_iden">Tipo de Identificación: </label>
    <select name="tipo_iden">
        <option value="ti">Tarjeta de identidad</option>
        <option value="ci">Cédula de identidad</option>
        <option value="ce">Cédula de extrajería</option>
        <option value="ppt">Permiso por Protección Temporal</option>
    </select>

    
    <label for="num_iden">Número de Identificaión: </label>
    <input type="text" name="num_iden" required>


    <label for="correo">Correo: </label>
    <input type="email" name="correo" required>


    <label for="tel">Teléfono: </label>
    <input type="text" name="tel" required>
    <small>Número habilitado para WhatsApp</small>
    
    <input type="submit" value="Registrar">
</form>