{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Registro de Usuario</title>
  <script src="{% static 'js/campos_por_rol.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/registro_usuario.css' %}">
</head>
<body>
  <h1>Registrar Usuario</h1>
  {% if messages %}
    {% for message in messages %}
      <p style="color: {{ message.tags }}">{{ message }}</p>
    {% endfor %}
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Registrar</button>
  </form>
</body>
</html>