{% extends "base.html" %}
{% load static %}


{% block title %}
Registrar Usuario
{% endblock title %}

{% block content %}
<script src="{% static 'js/campos_por_rol.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/registro_usuario.css' %}">
<body>
  <div class="contenedor-registro">
    <div class="panel-izquierdo"> <!-- Panel izquierdo con imagen y título -->
      <h3 class="titulo">Crea una cuenta</h3>
      <img src="{% static 'images/robot-solo.png' %}" alt="Robot Wissen" class="robot" />
    </div>

    <div class="panel-derecho">
      <div class="formulario-registro">
        {% comment %} Manejo de alertas {% endcomment %}
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-success">{{ message }}</div>
          {% endfor %}
        {% endif %}

        <img src="{% static 'images/logo.svg' %}" alt="Logo Wissen" class="logo" />
        <h2 class="titulo2">Registrar Usuario</h2>

        {% comment %} Formulario de registro {% endcomment %}
        <form method="post">
          {% csrf_token %}
          <label for="nombre">Nombre(s)</label>
          <input type="text" name="nombre" required>

          <label for="apellidos">Apellido(s)</label>
          <input type="text" name="apellidos" required><br>

          <label for="tipo_iden">Tipo de Identificación</label>
          <select name="tipo_iden" required>
            <option value="ti">Tarjeta de Identidad</option>
            <option value="ci">Cédula de Identidad</option>
            <option value="ce">Cédula de Extrajería</option>
            <option value="ppt">Permiso por Protección Temporal</option>
          </select><br>

          <label for="num_iden">Número de Identificación</label>
          <input type="text" name="num_iden" placeholder="Número de ID" required><br>

          <label for="correo">Correo</label>
          <input type="email" name="correo" required><br>

          <label for="tel">Teléfono</label>
          <input type="text" name="tel" required><br>

          <label for="usuario">Usuario</label>
          <input type="text" name="usuario" placeholder="Usuario" required><br>

          <label for="clave">Clave</label>
          <input type="password" name="clave" placeholder="Contraseña" required><br>

          <label for="rol">Rol</label>
          <select name="rol" required>
            <option value="estud">Estudiante</option>
            <option value="docen">Docente</option>
            <option value="admin">Administrador</option>
          </select><br>

        {% comment %} De momento queda comentado hasta saber cómo usarlo {% endcomment %}
        {% comment %} <label for="foto">Foto</label><br>
        <input type="text" name="foto" placeholder="URL Foto (opcional)"><br> {% endcomment %}

        {% comment %} Solo se muestra si es rol Administrador {% endcomment %}
          <div id="grupo-cargo">
            <label for="cargo">Cargo</label>
            <select name="cargo">
              <option value="">Selección</option>
              <option value="rec">Rector</option>
              <option value="dir">Director</option>
              <option value="cor">Coordinador</option>
              <option value="adm">Administrador</option>
            </select><br>
          </div>

    {% comment %} Solo se muestra si es rol Docente {% endcomment %}
    <div id="grupo-materias">
      <label for="materias">Materias</label><br>
      <select name="materias" multiple size="4">
        {% for materia in materias %}
          <option value="{{ materia.id_materia }}">{{ materia.materia }}</option>
        {% endfor %}
      </select><br>
    </div>

    <div id="grupo-cursos">
      <label for="cursos">Cursos</label><br>
      <select name="cursos" multiple size="4">
        {% for curso in cursos %}
          <option value="{{ curso.id_curso }}">{{ curso.curso }}</option>
        {% endfor %}
      </select><br>
    </div>

          {% comment %} Solo se muestra si es rol Estudiante {% endcomment %}
          <div id="grupo-id_curso">
            <label for="id_curso">Curso</label>
            <select name="id_curso">
              <option value="">Seleccionar</option>
              {% for curso in cursos %}
                <option value="{{ curso.id }}">{{ curso.nombre }}</option>
              {% endfor %}
            </select><br>
          </div>

          <div class="btn-contenedor">
            <input type="submit" value="Registrar" class="btn btn-registro">
        </form>
        <button type="submit" class="btn btn-cancelar">
          {% comment %} falta url en cancelar  {% endcomment %}
              <a href="#">Cancelar</a>
            </button>
          </div>
      </div>
    </div>
  </div>
  <footer class="footer-registro">
    Copyright © 2025 Wissen. Todos los derechos reservados.
  </footer>
  {% comment %} Validación de campos para verificar el rol y sus campos requeridos para el registro {% endcomment %}
  <script src="{% static 'js/campos_por_rol.js' %}"></script>
</body>
{% endblock content %}