# En este archivo radican todas las rutas del
# proyecto que serán ignoradas por git en 
# su seguimiento de modificaciones



# Caché del módulo principal
Proyecto/observador_digital/__pycache__
Proyecto/observador_digital/migrations/__pycache__

# Caché del módulo de usuarios
Proyecto/usuarios/__pycache__
Proyecto/usuarios/migrations/__pycache__

# Caché del módulo de faltas
Proyecto/faltas/__pycache__
Proyecto/faltas/migrations/__pycache__

# Caché del módulo de generador de informes
Proyecto/gen_infos/__pycache__
Proyecto/gen_infos/migrations/__pycache__



# Entorno virtual local para Django
env
# Otro nombre común
venv